// Base de colores:
:root {
	--color-1: #f2f5ff;
	--color-2: #ffd004;
	--color-3: #66b330;
	--color-4: #252323;
	--color-5: #662483;
	--color-6: #e30613;
	--color-7: #d5d0d0;
}

.contacto {
	width: calc(95vw - 10px);
	border-top: 3px dashed var(--color-3);
	min-height: 50vh;
	transition: .3s;

	display: grid;
	// titulo
	.titulo_contacto {
		background: linear-gradient(
			90deg,
			var(--color-3) 0%,
			var(--color-3) 53%,
			var(--color-1) 53%,
			var(--color-1) 100%
		);
		color: var(--color-3);
		box-shadow: 0 0 5px #66b330bf;
		width: min-content;
		height: min-content;
		padding: 5px 10px;
		border-radius: 5px;
		font-size: 3vw;
		margin: 3.5vw;
		transition: .3s;

		display: flex;
		&::selection {
			background: var(--color-6);
			color: var(--color-1);
		}
		b {
			color: var(--color-1);
			&::selection {
				background: var(--color-6);
				color: var(--color-1);
			}
		}
	}
	// redes
	.redes_contacto {
		margin-left: calc(3.5vw - 1vw);
		transition: .3s;

		display: grid;
		grid-template-columns: repeat(2, minmax(5vw, 15vw));
		a {
			background: linear-gradient(90deg, #66b330 0%, #66b330 2%, transparent 2%, transparent 100%);
			color: var(--color-4);
			box-shadow: inset 0 0 3px var(--color-4);
			height: min-content;
			border-radius: 4px;
			text-decoration: none;
			align-items: center;
			margin: 1vw;
			font-size: 1.5vw;
			padding: 0.5vw;
			padding-left: 1vw;
			transition: .3s;

			display: flex;
			svg {
				filter: drop-shadow(0 0 5px #ffffff40);
			}
			p {
				margin-left: 1vw;
				transition: .3s;
				&::selection {
					background: var(--color-6);
					color: var(--color-1);
				}
			}
		}
		.facebook_contacto {
			color: #1e23b3;
			box-shadow: inset 0 0 10px #1e23b3;
			background: linear-gradient(90deg, #1e23b3 0%, #1e23b3 2%, transparent 2%, transparent 100%);
		}
		.instagram_contacto {
			color: #e25300;
			box-shadow: inset 0 0 10px #e25300;
			background: linear-gradient(90deg, #e25300 0%, #e25300 2%, transparent 2%, transparent 100%);
		}
		.whatsapp_contacto {
			color: #0e9419;
			box-shadow: inset 0 0 10px #0e9419;
			background: linear-gradient(90deg, #0e9419 0%, #0e9419 2%, transparent 2%, transparent 100%);
		}
		.telefono_contacto {
			color: #8f009f;
			box-shadow: inset 0 0 10px #8f009f;
			background: linear-gradient(90deg, #8f009f 0%, #8f009f 2%, transparent 2%, transparent 100%);
		}
		.telefono_contacto2 {
			color: #9f0075;
			box-shadow: inset 0 0 10px #9f0075;
			background: linear-gradient(90deg, #9f0075 0%, #9f0075 2%, transparent 2%, transparent 100%);
		}
		.email_contacto {
			color: #000000;
			box-shadow: inset 0 0 10px #000000;
			background: linear-gradient(90deg, #000000 0%, #000000 2%, transparent 2%, transparent 100%);
		}
		.telegram_contacto {
			color: #00638e;
			box-shadow: inset 0 0 10px #00638e;
			background: linear-gradient(90deg, #00638e 0%, #00638e 2%, transparent 2%, transparent 100%);
		}
	}
}
