// Base de colores:
:root {
	--color-1: #f2f5ff;
	--color-2: #ffd004;
	--color-3: #66b330;
	--color-4: #252323;
	--color-5: #662483;
	--color-6: #e30613;
	--color-7: #d5d0d0;
}
.seccion {
	border-top: 3px dashed var(--color-3);
	width: calc(95vw - 10px);
	min-height: 100vh;
	margin-bottom: 5vw;

	display: grid;
	// titulo
	.titulo_seccion {
		background: linear-gradient(
			90deg,
			var(--color-3) 0%,
			var(--color-3) 52%,
			var(--darkMode) 52%,
			var(--darkMode) 100%
		);
		color: var(--color-3);
		box-shadow: 0 0 5px #66b330bf;
		width: min-content;
		height: min-content;
		text-decoration: none;
		padding: 5px 10px;
		border-radius: 5px;
		font-size: 3vw;
		margin: 3.5vw;
		margin-bottom: 0;
		transition: .3s;

		display: flex;
		&::selection {
			background: var(--color-6);
			color: var(--color-1);
		}
		b {
			color: var(--color-1);
			&::selection {
				background: var(--color-6);
				color: var(--color-1);
			}
		}
	}
	// contenedor de seccion
	.contenedor_seccion {
		width: 90%;
		justify-self: center;
		justify-content: space-around;
		list-style: none;
		transition: .3s;

		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(auto, 150px));
	}
}
