// Base de colores:
:root {
	--color-1: #f2f5ff;
	--color-2: #ffd004;
	--color-3: #66b330;
	--color-4: #252323;
	--color-5: #662483;
	--color-6: #e30613;
	--color-7: #d5d0d0;
}

// opciones para el detalle de la unidad seleccionada
.opciones {
	border-bottom: 2px solid var(--color-4);
	width: 100%;
	height: min-content;
	justify-self: center;
	justify-content: space-around;
	transition: .3s;

	display: flex;
	grid-column: 1/9;
	grid-row: 1/2;
	// opciones (compra, favorito)
	span {
		position: relative;
		background: var(--color-3);
		color: var(--color-7);
		width: 0;
		height: max-content;
		padding: 3px 0;
		border-radius: 10px;
		margin: 3px 0;
		align-self: center;
		justify-items: center;
		cursor: pointer;
		transition: .3s;
		width: 12vw;

		display: grid;
		svg {
			font-size: 2.5vw;
			transition: .3s;
		}
		// btn para confirmar guardado
		.iconoFavorito {
			position: absolute;
			color: #414141;
			width: 1.5vw;
			height: 1.5vw;
			margin: 0.3vw;
			border-radius: 5px;
			pointer-events: none;
			justify-self: end;
			transition: 0s;
			&.activar_iconoFavorito {
				color: #00ff00;
			}
		}
		// titulo opcion
		p {
			text-align: center;
			margin-top: 3px;
			// font-size: 1.2;
			transition: .3s;
			&::selection {
				background: var(--color-6);
				color: var(--color-1);
			}
		}
	}
}
