// Base de colores:
:root {
	--color-1: #f2f5ff;
	--color-2: #ffd004;
	--color-3: #66b330;
	--color-4: #252323;
	--color-5: #662483;
	--color-6: #e30613;
	--color-7: #d5d0d0;
}

.menuFlotante {
	position: fixed;
	background: var(--color-3);
	box-shadow: 0 0 10px var(--color-4);
	width: 0;
	height: 0;
	border-radius: 50px;
	bottom: 1vw;
	right: calc(5vw + 1vw);
	overflow: hidden;
	z-index: 100;
	transition: .5s;
	// opacity: 0;
	// pointer-events: none;

	display: grid;
	&.visible_menuflotante {
		width: 4vw;
		height: 4vw;
		opacity: 1;
		pointer-events: visible;
	}
	&.active_menuFlotante {
		background: var(--color-1);
		width: 25vw;
		height: 30vw;
		border-radius: 5px;
		.contenedor_menuFlotante {
			width: 100%;
			height: 100%;
			.listadoOpciones_menuFlotante {
				width: 95%;
				height: 90%;
			}
		}
		// boton para abrir/cerrar el menu flotante
		.btn_menuFlotante {
			background: var(--color-4);
			width: 4vw;
			height: 4vw;
			margin: 0.5vw;
			// bottom: 10px;
			transition-delay: .3s;
			span:nth-child(2) {
				transform: rotateZ(0);
			}
		}
	}
	.contenedor_menuFlotante {
		width: 0;
		height: 0;
		overflow: auto;
		overflow-x: hidden;

		display: grid;
		&::-webkit-scrollbar {
			background: var(--color-3);
			box-shadow: inset 0 0 5px var(--color-1);
			width: 10px;
			transition: .5s;
		}
		&::-webkit-scrollbar-thumb {
			background: var(--color-1);
			box-shadow: inset 0 0 5px var(--color-3);
			border-radius: 3px;
		}
		// lista de opciones
		.listadoOpciones_menuFlotante {
			width: 0;
			height: 0;
			margin-top: 5px;
			justify-items: center;
			justify-self: center;
			border-radius: 5px;
			border: 1px solid var(--color-4);
			list-style: none;
			transition: .5s;

			display: grid;
			&::-webkit-scrollbar {
				background: var(--color-3);
				box-shadow: inset 0 0 5px var(--color-1);
				width: 10px;
				transition: .5s;
			}
			&::-webkit-scrollbar-thumb {
				background: var(--color-1);
				box-shadow: inset 0 0 5px var(--color-3);
				border-radius: 3px;
			}
			// titulo de favoritos
			.titulo_listadosOpciones_menuFlotante {
				justify-self: center;
				font-size: 1.5vw;
			}
			// opciones del contenedor favoritos
			.opcionesFavoritos_menuFlotante {
				width: 90%;
				gap: 5px;
				margin: 10px 0;

				display: grid;
				// opcion del contenedor favorito
				.opcionFavoritos_menuFlotante {
					background: #67b33065;
					width: 100%;
					height: max-content;
					padding: 5px 0;
					border-radius: 5px;
					justify-content: space-around;
					align-items: center;

					display: flex;
					// icono
					svg {
						color: var(--color-4);
						background: #25232340;
						padding: 0.2vw .3vw;
						border-radius: 0.3vw;
						font-size: 2.5vw;
					}
					// nombre opcion
					.nombreOpcion_menuFlotante {
						color: var(--color-4);
						font-size: 2vw;
					}
					// contador
					.contadorFavoritos_menuFlotante {
						color: var(--color-4);
						background: #25232340;
						padding: 0.2vw .3vw;
						font-size: 2vw;
						border-radius: 0.3vw;
					}
				}
			}
		}
	}
	// boton para abrir/cerrar el menu flotante
	.btn_menuFlotante {
		position: absolute;
		background: var(--color-3);
		color: var(--color-1);
		width: 4vw;
		height: 4vw;
		place-self: flex-end;
		border-radius: 50px;
		cursor: pointer;

		display: grid;
		span {
			position: absolute;
			width: 60%;
			height: 0.4vw;
			border-radius: 10px;
			top: calc(50% - 0.2vw);
			left: calc(50% - 30%);
			background: var(--color-1);
		}
		span:nth-child(2) {
			transform: rotateZ(-810deg);
			transition: .5s linear;
		}
	}
}
