// Base de colores:
:root {
	--color-1: #f2f5ff;
	--color-2: #ffd004;
	--color-3: #66b330;
	--color-4: #252323;
	--color-5: #662483;
	--color-6: #e30613;
	--color-7: #d5d0d0;
	--darkMode-1: #def4ce;
	--darkMode-2: #131a0e;
	--darkMode: #def4ce;
}

* {
	margin: 0;
	padding: 0;
	&::selection {
		background: transparent;
	}
	// transition: .01s;
	a {
		text-decoration: none;
		color: var(--color-4);
	}
}

html {
	scroll-behavior: smooth;
}

body {
	position: relative;
	background: var(--darkMode);
	transition: .3s;
	transition-delay: 0;

	display: grid;
	&::-webkit-scrollbar {
		background: var(--color-4);
		box-shadow: inset 0 0 5px var(--color-1);
		width: 10px;
		transition: .5s;
	}
	&::-webkit-scrollbar-thumb {
		background: var(--color-1);
		box-shadow: inset 0 0 5px var(--color-4);
		border-radius: 3px;
	}
}
