// Base de colores:
:root {
	--color-1: #f2f5ff;
	--color-2: #ffd004;
	--color-3: #66b330;
	--color-4: #252323;
	--color-5: #662483;
	--color-6: #e30613;
	--color-7: #d5d0d0;
}

// detalles de unidad (ventana)
.detallesUnidad {
	position: fixed;
	background: var(--color-1);
	width: 90vw;
	height: 95vh;
	border-radius: 5px;
	top: 1vw;
	left: 2vw;
	justify-self: center;
	opacity: 0;
	pointer-events: none;
	z-index: 20000;
	transition: .3s;

	display: grid;
	grid-template-columns: repeat(8, auto);
	grid-template-rows: repeat(8, auto);
	// activar ventana
	&.activar_detallesUnidad {
		pointer-events: visible;
		opacity: 1;
		// boton para abrir y cerrar
		.btn_cerrarVentana_detallesUnidad {
			width: 2vw;
			height: 2vw;
			font-size: 2vw;
			transition: .3s .5s;
		}
		// opciones
		.opciones_detallesUnidad {
			span {
				width: 12vw; // logo
				svg {
					font-size: 2.5vw;
					transition: .3s;
				} // titulo opcion
				p {
					text-align: center;
					font-size: 1.5vw;
					transition: .3s;
				}
			}
		}
		// contenedor horizontal de las imagenes
		.imagenes_detallesUnidad {
			width: 69%;
			height: 35vw;
			transition: .3s .1s;
			// imagenes a mostrar del unidad, contenedor
			.imagen_detallesUnidad {
				width: 98%;
				height: 85%;
				transition: .3s .5s;
				&::selection {
					background: transparent;
				}
				img {
					width: 40%;
				}
			}
			// botones para navegar entre las imagenes
			span {
				transition: .3s .7s;
				i {
					height: 10vw;
					font-size: 5vw;
					pointer-events: visible;
					transition: .3s .7s;
				}
			}
		}
		// descripcion
		.descripcion_detallesUnidad {
			width: 28%;
			padding: 5px;
			transition: .3s .5s;
			h3 {
				transition: .3s .6s;
			}
			hr {
				transition: .3s .7s;
				width: 90%;
				height: 2px;
			}
			p {
				margin-top: 1vw;
				font-size: 1.4vw;
				transition: .3s .8s;
			}
		}
	}
	// boton para cerrar ventana
	.btn_cerrarVentana_detallesUnidad {
		background: var(--color-6);
		color: var(--color-4);
		width: 0;
		height: 0;
		border-bottom-left-radius: 5px;
		border-top-right-radius: 5px;
		text-align: center;
		justify-self: flex-end;
		font-size: 0;
		z-index: 100;
		cursor: pointer;
		transition: .3s 0s;
		grid-column: 1/9;
		grid-row: 1/9;
	}
	// opciones para el detalle del unidad seleccionado
	.opciones_detallesUnidad {
		border-bottom: 2px solid var(--color-4);
		width: 100%;
		height: min-content;
		justify-self: center;
		justify-content: space-around;
		transition: .3s;
		display: flex;
		grid-column: 1/9;
		grid-row: 1/2;
		// opciones (compra, favorito)
		span {
			position: relative;
			background: var(--color-3);
			color: var(--color-7);
			width: 0;
			padding: 3px 0;
			border-radius: 10px;
			margin: 3px 0;
			justify-items: center;
			cursor: pointer;
			transition: .3s;
			display: grid;
			// logo
			i {
				font-size: 0;
				transition: .3s;
			}
			// btn para confirmar guardado
			.guardadoFavorito {
				position: absolute;
				background: var(--color-5);
				width: 1.5vw;
				height: 1.5vw;
				margin: 0.3vw;
				border-radius: 5px;
				justify-self: end;
			}
			// titulo opcion
			p {
				text-align: center;
				margin-top: 3px;
				font-size: 0;
				transition: .3s;
				&::selection {
					background: var(--color-6);
					color: var(--color-1);
				}
			}
		}
	}
	// contenedor horizontal de las imagenes
	.imagenes_detallesUnidad {
		position: relative;
		background: #66b33050;
		width: 0;
		height: 0;
		border-radius: 5px;
		justify-self: flex-end;
		align-self: center;
		align-items: center;
		overflow: hidden;
		margin-right: 5px;
		transition: .3s .3s;

		display: grid;
		grid-column: 1/9;
		grid-row: 2/9;
		// imagen a mostrar del unidad
		.imagen_detallesUnidad {
			background: var(--color-3);
			width: 0;
			height: 0;
			border-radius: 10px;
			justify-self: center;
			justify-content: space-around;
			align-items: center;
			align-self: flex-start;
			overflow: auto;
			margin-top: 1%;
			gap: 20px;
			z-index: 100;
			transition: .3s .3s;

			display: flex;
			&::-webkit-scrollbar {
				background: var(--color-3);
				box-shadow: inset 0 0 5px var(--color-1);
				width: 10px;
				height: 1vw;
				transition: .5s;
			}
			&::-webkit-scrollbar-thumb {
				background: var(--color-1);
				box-shadow: inset 0 0 5px var(--color-3);
				border-radius: 3px;
			}
			img {
				width: 0;
				box-shadow: inset 5px 0 5px #25232380, inset -5px 0 5px #25232380, 0 -5px 5px #25232380,
					0 5px 5px #25232380;
				border-radius: 5px;

				object-fit: cover;
				transition: .3s .3s;
			}
		}
		// contador de imagenes
		.contadorImg_detallesUnidad {
			position: absolute;
			width: 4vw;
			height: 2vw;
			text-align: center;
			font-size: 1.5vw;
			padding: 2px 5px;
			place-self: flex-end;
			background: var(--color-3);
			border-top-left-radius: 5px;
			color: var(--color-7);
			&::selection {
				background: var(--color-6);
				color: var(--color-1);
			}
		}
		// costo del unidad
		.costoUnidad {
			position: absolute;
			width: max-content;
			height: max-content;
			text-align: center;
			font-size: 1.5vw;
			padding: 2px 5px;
			justify-self: flex-start;
			align-self: flex-end;
			background: var(--color-3);
			border-top-right-radius: 5px;
			color: var(--color-7);
			&::selection {
				background: var(--color-6);
				color: var(--color-1);
			}
		}
	}
	// descripcion
	.descripcion_detallesUnidad {
		background: var(--color-3);
		width: 0;
		border-radius: 5px;
		margin-left: 0.5vw;
		padding: 0;
		align-self: center;
		transition: .3s;
		display: grid;
		grid-column: 1/9;
		grid-row: 2/9;
		* {
			&::selection {
				background: var(--color-6);
				color: var(--color-1);
			}
		}
		// titulo
		h3 {
			color: var(--color-7);
			transition: .3s;
		}
		hr {
			background: var(--color-7);
			transition: .3s;
			width: 0;
			height: 2px;
			justify-self: start;
			border: none;
		}
		// parrafo
		p {
			color: var(--color-7);
			margin-top: 1vw;
			font-size: 0;
			font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
				sans-serif;
			transition: .3s;
		}
	}
	
	// btn para recargar datos de la ventana 
	.btnRecargarDatos {
		position: absolute; 
		left: 0.5vw;
		bottom: 0.7vw;
		font-size: 2vw;
		padding: 0.5vw;
		border-radius: 5px;
		background: #66b330;
		color: var(--color-4);
		cursor: pointer;
	}
}
